<!-- <div> {{ appState$ | async | json }} </div> -->
<div class="container-x1">
  <div class="table-responsive">
    <div class="table-wrapper">
      <div class="table-title">
        <div class="row">
          <div class="col-sm-6">
            <h2>Manage Servers</h2>
          </div>
          <div class="col-sm-6">
            <button type="button" class="btn btn-primary">Print Report</button>

            <a href="#addEmployeeModal" class="btn btn-success" data-toggle="modal">
              <fa-icon [icon]="faCirclePlus" data-toggle="modal" title="New Server"></fa-icon>
              <span> New Server</span>
            </a>

            <span>
              <select name="status" 
              class="btn btn-info" style="height: 32.91px;">
                <option value="ALL">ALL</option>
                <option value="SERVER_UP">SERVER UP</option>
                <option value="SERVER_DOWN">SERVER DOWN</option>
              </select>
            </span>
          </div>
        </div>
      </div> <br>
      <ng-container>
        <ng-container>
          <div class="col-md-12 single-note-item text-center">
            <div class="spinner-border text-info" role="status"></div>
          </div>
        </ng-container>
        <ng-container>
          <table class="table table-striped table-hover" id="servers">
            <thead>
              <tr>
                <th>Image</th>
                <th>IP Address</th>
                <th>Name</th>
                <th>Memory</th>
                <th>Type</th>
                <th>Status</th>
                <th>Ping</th>
                <th>Actions</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td> <img src="" width="40" height="40"></td>
                <td>ipAddress</td>
                <td>name</td>
                <td>memory</td>
                <td>type</td>
                <td>
                  <span class="badge">
                  </span>
                </td>
                <td>
                  <a style="cursor: pointer;">
                  <fa-icon [icon]="faTableTennisPaddleBall" data-toggle="modal" title="Ping Server"></fa-icon>
                  <i class="fa fa-spinner fa-spin" style="font-size:24px;"></i>
                  </a>
                </td>
                <td>
                  <a class="delete" data-toggle="modal"
                    style="cursor: pointer;">

                    <fa-icon [icon]="faThrash" data-toggle="modal" title="Delete"></fa-icon>
                  
                  </a>
                </td>
              </tr>
            </tbody>
          </table>
        </ng-container>
      <ng-container>
        <div class="alert-danger">
          error
        </div>
      </ng-container>
      </ng-container>
    </div>
  </div>
</div>

<!-- Add server Modal HTML -->

<div id="addEmployeeModal" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <form>
        <div class="modal-header">
          <h4 class="modal-title">Add Server</h4>
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
            &times;
          </button>
        </div>
        <div class="modal-body">
          <div class="form-group">
            <label>IP</label>
            <input type="text" name="ipAddress" class="form-control" required>
          </div>
          <div class="form-group">
            <label>Name</label>
            <input type="text" name="name" class="form-control" required>
          </div>
          <div class="row">
            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-6">
              <div class="form-group">
                <label>Memory</label>
                <input type="text" name="memmory" class="form-control" required>
              </div>
            </div>
            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-6">
              <div class="form-group">
                <label>Type</label>
                <input type="text" name="type" class="form-control" required>
              </div>
            </div>
          </div>
          <div class="form-group">
            <label>Status</label>
            <select name="status" class="form-control" required></select>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>